{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "quotes": [2, "single"],
    "prettier/prettier": "error"
  },
  "plugins": ["jsx-a11y", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
