$offset: 50px;

.filter-body-element {
  display: flex;
  align-items: center;
  background-color: #444;
  width: calc(100% - #{$offset});
  &_col {
    flex-direction: column;
    align-items: center;
    width: calc(100% - #{$offset});
  }

  &__info {
    width: 35%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2178c4;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}
